<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="'Dealer Updated: ' + ${oldDealer.id}"></title>
</head>

<body>
	<h2>Hello!!!!</h2>
	
	<h3>Update Dealer</h3>
	<form th:action="@{/dealer/update{id}(id=${oldDealer.id})}" th:object="${newDealer}" method="POST">
		Alamat: <br>
		<input type="text" name="alamat" th:field="${oldDealer.alamat}"/>
		<br>
		No. Telp: <br>
		<input type="text" name="noTelp" th:field="${oldDealer.noTelp}"/>
		<br><br>
		<button type="submit">Submit</button>
	</form>
	
</body>

</html>