<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="'Car Updated: ' + ${oldCar.id}"></title>
</head>

<body>
	<h2>Hello!!</h2>
	
	<h3>Dealer Update</h3>
	<form th:action="@{/car/update{id}(id=${oldCar.id})}" th:object="${newCar}" method="POST">
		Brand: <br>
		<input type="text" name="brand" th:field="${oldCar.brand}"/>
		<br>
		Type: <br>
		<input type="text" name="type" th:field="${oldCar.type}"/>
		<br>
		Price: <br>
		<input type="number" name="price" th:field="${oldCar.price}"/>
		<br>
		Amount: <br>
		<input type="number" name="amount" th:field="${oldCar.amount}"/>
		<br>
		<br><br>
		<button type="submit">Submit</button>
	</form>
	
</body>

</html>